<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kf5sdk"
    android:versionCode="1"
    android:versionName="1.0" >
  <!--<uses-permission android:name="android.permission.CALL_PHONE" />-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application>
        <activity
            android:name="com.chosen.kf5sdk.ImageBrowerActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/KF5AppTheme"/>
        <activity
            android:name="com.chosen.kf5sdk.KF5ChatActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/KF5AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="image/*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.chosen.kf5sdk.LookFeedBackActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/KF5AppTheme"/>
        <activity
            android:name="com.chosen.kf5sdk.OrderAttributeActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/KF5AppTheme"/>
        <activity
            android:name="com.chosen.kf5sdk.FeedBackActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/KF5AppTheme"/>
        <activity
            android:name="com.chosen.kf5sdk.FeedBackDetailsActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/KF5AppTheme"/>
        <activity
            android:name="com.chosen.kf5sdk.HelpCenterActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/KF5AppTheme"/>
        <activity
            android:name="com.chosen.kf5sdk.HelpCenterTypeActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/KF5AppTheme"/>
        <activity
            android:name="com.chosen.kf5sdk.HelpCenterTypeChildActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/KF5AppTheme"/>
        <activity
            android:name="com.chosen.kf5sdk.HelpCenterTypeDetailsActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/KF5AppTheme"/>
        <activity
            android:name="com.chosen.kf5sdk.ImageActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/KF5AppTheme"/>

        <activity
            android:name="com.kf5sdk.image.ImageSelectorActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/KF5AppTheme"/>

        <service
            android:name="com.kf5chat.service.MessageService"
            android:enabled="true"/>
    </application>

</manifest>
